version: "3"
services:
  db:
    image: postgres:14.10-alpine
    restart: always
    container_name: db
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: org
    ports:
      - "5432:5432"


  redis:
    image: redis:7.4.1-alpine
    container_name: redis
    restart: always
    ports:
      - '6379:6379'


volumes:
  postgres-data:
